@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Ubuntu');
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.ibox-tools a {
    color: #fffdfe;
}

.status-label-1{
    background-color: #ed5565;
    color: #FFFFFF;
}

.status-label-2{
    background-color: #f8ac59;
    color: #FFFFFF;
}

.status-label-3{
    background-color: #1ab394;
    color: #FFFFFF;
}

.form-control{
    padding-left: 12px;
}

.nav-header{
    padding-bottom: 7px !important;
}

td{
    padding-bottom: 2px !important;
    margin-bottom: 2px !important;
    padding-top: 2px !important;
    margin-top: 2px !important;
}
#slides .m-b{
    margin-bottom: 0px;
}

.changed {
    background-color: #e8f5e9 ;
}